html {
    height: 100%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    height: 100%;
}

#pizzas {
    position: absolute;
    top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    width: 200px;
    display: inline;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

img {
    border-radius: 10px;
    opacity: 0.8;
}

img:hover {
    opacity: 1;
}

.name {
    font-size: 20px;
    font-weight: bold;
}

#add {
    text-align: right;
}

.material-symbols-outlined {
    background-color: #408EC6;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

#headline {
    display: flex;
    align-items: center;
}

#cart, #orderBtn {
    margin: 15px;
    padding: 5px;
    background-color: #408EC6;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: all 0.2s ease-in-out;
}

#cart:hover, #orderBtn:hover {
    background-color: #95daff;
}

.material-symbols-outlined:hover {
    background-color: #95daff;
  }

.packageForm {
    display: none;
}

#fixed {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #7A2048;
}

#allergens {
    margin-left: 10px;
}

#itemName {
    font-size: 20px;
    margin-top: 20px;
}

#itemAmount, #priceInCart {
    font-size: 15px;
}

.packageForm {
    margin: 20px;
}

#form {
    display: flex;
    justify-content: center;
}

#cartTitle, #orderFormTitle {
    text-align: center;
    font-size: 30px;
    margin: 30px 0 30px 0;
}

#cartContent, #packageForm {
    margin: 30px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#orderBtn {
    margin: 15px 0 0 0;
    float: right;
    border: none;
}

#price {
    margin: 10px 0 10px 0;
    font-weight: bold;
}

#totalPrice {
    font-size: 25px;
    margin: 40px 0 20px 0;
}

#totalPriceTitle, #total {
    text-align: center;
}

.amount-span {
    margin-right: 10px;
    font-weight: bold;
}